row {
 
}

.row1 {
    margin-top: 50px;
    height: 100px;
}

.row1_col {
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100px;
}

.row1_btn {
    height: 100%;
    width: 50%;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 3em!important;
}

.row2 {
    margin-top: 100px;
}

.row2_col {
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 50px;
}

.row3 {
    margin-top: 30px;
    height: 100%;
}

.row3_col {  
    height: 50px;
}

.row4 {
    margin-top: 50px;
    height: 100%;
}

.row4_col {  
    height: 50px;
}

.row5 {
    margin-top: 25px;
    height: 100%;
}

.row5_col {  
    height: 50px;
}

.row6 {
    margin-top: 25px;
    height: 100%;
}

.row6_col {  
    height: 50px;
}

.row7 {
    margin-top: 25px;
    height: 100%;
}

.row7_col {  
    height: 50px;
}

.row8 {
    margin-top: 25px;
    height: 100%;
}

.row8_col {  
    height: 50px;
}

.row9 {
    margin-top: 100px;
    height: 100px;
}

.row9_col {
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100px;
}

.row9_btn {
    height: 100%;
    width: 50%;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 3em!important;
}

.row10 {
    margin-top: 20px;
    margin-bottom: 100px;
    height: 100px;
}

.row10_col {
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100px;
}

.row10_btn {
    height: 100%;
    width: 50%;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 3em!important;
}

.stat_bar_tall {
    height: 100%;
    width: 100%;
    min-width: 0%;
}

.stat_bar_short {
    height: 50%;
    width: 100%;
    min-width: 0%;
}

.stat_bar_text {
    font-size: 2em;
}